/* Estilização para telas menores */
.beneficios {
    padding: 0em 0;
    background: var(--cor-principal);
}

.beneficios {
    width: 100%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px var(--cor-preto);
}

.titulo-beneficios {
    padding-left: 400px;
    color: white;
    margin: -220px 20px 30px;
    width: 300px;
}

.lista-beneficios {
    list-style: none;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.conteudo-beneficios {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.imagem-beneficios {
    width: 50%;
    display: inline;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

ol, ul {
    list-style: none;
}

/* abaixo está o código do vidéo */

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (min-width: 480px) {
    .conteudo-beneficios {
        align-items: center; 
        gap: 20px;
        margin: 0 auto;
    }

    .imagembeneficios {
        width: 60%;
    }
}

@media screen and (min-width: 1080px) {
    .conteudo-beneficios {
       width: 640px;
    }
    .video {
        width: 560px;
    }
}