footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px 0;
    color: var(--cor-principal);
}

.logofooter {
    width: 100%;
}

.copyright {
    color: var(--cor-bramca);
    font-size: 13px;
    margin: 10px 0 0;
}